/*=======================================
  HOME SECTION STYLES
  =======================================*/
#home {
	background: url(../images/workspace2.jpg) no-repeat 100%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	display: block;
	height: auto;
	padding-top: 350px; /* This is spacer before the Main title Logo */
	padding-bottom: 500px; /* This is spacer after the Main title Logo */
	color: #fff;
}

.head-main {
	text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
	font-variant: small-caps;
	color: #fff;
	letter-spacing: 5pt;
	word-spacing: 21pt;
	font-size: 4.5em;
	text-align: left;
	font-family: Geneva, sans-serif;
	line-height: 2;
    font-weight: 900;
    padding: 10px;
}